@model WebAdvance.Models.LoginResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
       
    </style>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    
        <div class="container">
            <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div style="padding-top:30px" class="panel-body">
                    <div style="margin-top:100px">
                        <div class="col-sm-12 controls" style="text-align:center">
                            <a id="btn-hello" href="#" class="btn btn-success" style="font-size:250%">Xin chào Admin  </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>
</html>


